@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --font-ui: 'Nunito Sans', sans-serif;
  --font-heading: 'Quicksand', sans-serif;
  --font-editorial: 'Crimson Pro', serif;
  --font-system: 'Arimo', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

@theme {
  --font-ui: var(--font-ui);
  --font-heading: var(--font-heading);
  --font-editorial: var(--font-editorial);
  --font-system: var(--font-system);
  --font-body: var(--font-body);
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

button,
input,
select,
textarea,
.tab {
  font-family: var(--font-ui);
}

.button-animation:hover {
  animation: bg-slide-in 0.5s ease-in-out forwards;
}

@keyframes bg-slide-in {
  0% {
    background-color: whitesmoke;
    color: black;
  }

  100% {
    background-color: #3a5a40;
    color: whitesmoke;
    border: none;

  }
}


.hero-image-destination {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://res.cloudinary.com/dv093jd0o/image/upload/v1770469705/christopher-sardegna-iRyGmA_no2Q-unsplash_ot4iwn.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-experiences {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://res.cloudinary.com/dv093jd0o/image/upload/v1770469002/damian-patkowski-T-LfvX-7IVg-unsplash_1_ogqc1y.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-about {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://res.cloudinary.com/dv093jd0o/image/upload/v1770468550/TTP23Bandas-2_evsob6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-sustainability {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://res.cloudinary.com/dv093jd0o/image/upload/v1770469835/markus-spiske-ZSZ6wzNU12Q-unsplash_jre6dr.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-booking {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://res.cloudinary.com/dv093jd0o/image/upload/v1770551080/heroimagedestination_enqpox.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}